# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build
build.zip

# misc
.DS_Store
.env
.env.test
npm-debug.log
yarn-error.log

.idea
.gradle
*.zip
*.tgz

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
