@import '../../marketplace.css';

.root {
  margin: 10px;
  @media (--viewportMobileMedium) {
     margin: 20px;
  }
  & p {
    @apply --marketplaceH4FontStyles;
     white-space: pre-wrap;
     font-size: 11px;
  }
  & h2 {
    /* Adjust heading margins to work with the reduced body font size */
    margin: 23px 0 19px 0;

    @media (--viewportMedium) {
      margin: 24px 0 24px 0;
    }
  }

  & h3 {
    font-size: 18px;
    color: var(--nuPink);
    white-space: nowrap;
  }

  & .lastUpdated {
    @apply --marketplaceBodyFontStyles;
    margin-top: 0;
    margin-bottom: 55px;

    @media (--viewportMedium) {
      margin-top: 0;
      margin-bottom: 54px;
    }
  }
}
.header{
  text-align: center;
  margin-bottom: 30px !important;


}

.faqli{
  font-size:14px;
  font-weight: bold;

}
.faqli::before {
  /*content: "•";*/
  color: var(--nuPink);
  margin: 5px;
  list-style-position: outside;
}

.answer{
  margin-left: 40px;
  line-height: normal !important;

}

css.sectionHeader {
  margin-top: 20px !important;
  font-size: 18px;
  color: #d6277f;
  white-space: nowrap;
  font-family: Poppins, Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.2px;

}
