@import '../../marketplace.css';

:root {
  /*
    These variables are available in global scope through ":root"
    element (<html> tag). Variables with the same names are going to
    overwrite each other if CSS Properties' (PostCSS plugin)
    configuration "preserve: true" is used - meaning that variables
    are left to CSS bundle. We are planning to enable it in the future
    since browsers support CSS Properties already.
 */

  --LandingPage_sectionMarginTop: 40px;
  --LandingPage_sectionMarginTopMedium: 60px;
  --LandingPage_sectionMarginTopLarge: 94px;
}

.root {
}

/* heroContainer gives the height for SectionHero */
/* Safari has a bug with vw padding inside flexbox. Therefore we need an extra div (container) */
/* If you've lot of content for the hero, multiple lines of text, make sure to adjust min-heights for each media breakpoint accordingly */
.heroRootClass {
  height: 50vh !important;
}

.sections {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
  padding-top: 1px;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.section {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  margin: 40px 0;
}

/* Square corners for the last section if it's even */
.section:nth-of-type(2n):last-of-type {
  display: flex;
  flex-direction: column;
  flex: 1;
  @media (--viewportMedium) {
    border-radius: 4px 4px 0 0;
  }

}

/* Every other section has a light background */
.section:nth-of-type(2n) {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--matterColorLight);
  @media (--viewportMedium) {
    border-radius: 4px;
  }

}

.sectionContent {
  margin: var(--LandingPage_sectionMarginTop) 24px 51px 24px;
  display: flex;
  flex-direction: column;
  flex: 1;

  @media (--viewportMedium) {

    max-width: 100%;
    margin: var(--LandingPage_sectionMarginTopMedium) 24px 60px 24px;
  }

  @media (--viewportLarge) {
    max-width: 1128px;
    padding: 0 36px 0 36px;
    margin: var(--LandingPage_sectionMarginTopLarge) auto 93px auto;
  }


}


.sectionContentFirstChild {
  composes: sectionContent;
  margin-top: 3vh;

}

/* A bar on top of light sections */
.section:nth-of-type(2n) .sectionContent::before {
  background: var(--nuPink);
  content: '';
  display: flex;
  flex-direction: column;
  width: 109px;
  height: 6px;

  /* Place the bar on top of .sectionContent top margin */
  position: relative;
  top: calc(-1 * var(--LandingPage_sectionMarginTop));

  @media (--viewportMedium) {
    width: 192px;
    height: 8px;
    top: calc(-1 * var(--LandingPage_sectionMarginTopMedium));
  }

  @media (--viewportLarge) {
    top: calc(-1 * var(--LandingPage_sectionMarginTopLarge));
  }
}


.flexcontainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  background: #fff !important;
}

.headerText {
  color: #D77A66;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-right: auto;
  margin-left: auto;

  @media (--viewportMobileMedium) {
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;


  }

}

.subscribeForm {
  background: #FFFFFF;
  border-radius: 25px;
  display: inline-block;

  justify-content: center;
  margin-top: 200px;
  margin-bottom: 200px;
}

.centerDiv {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.emailInput {
  margin-left: -70px;
  display: inline;
  width: 400px;
  margin-left: 20px;

  @media (max-width: 768px) {
    width: 70%;
    display: inline-flex;
    font-size: 14px;
  }
}

.submitButton {
  padding: 5px;
  display: inline;
  margin-left: -70px;
}

.subscribeBox {
  background-color: #FFFFFF;
  border-radius: 50px;
  border: 2px solid rgba(112, 112, 112, 0.69);
  padding: 5px;
  display: inline-block;
  justify-content: center;
  margin: 20px auto;
  width: max-content;
  display: flex;


  @media (--viewportMobileMedium) {
    width: 333px;
    height: 43px;
    display: inline-flex;
    margin-right: auto;
    margin-left: auto;
  }
}

.subscribeButton {
  width: 200px;
  height: 55px;


  @media (--viewportMobileMedium) {

    width: 100px;
    min-height: 25px;
    height: 33px !important;
    font-size: 12px;

  }
}

.sendingMsg {
  color: var(--nuYellow);
}

.successMsg {
  color: var(--nuPink);

  /*width: 80%;*/
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  align-text: center;
  word-wrap: break-word;

  @media (--viewportMobileMedium) {
    margin-top: 10px;
    width: 70%;
    font-size: 14px;
  }
}

.errorMsg {
  color: red;
  /*width: 80%;*/
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  align-text: center;
  word-wrap: break-word;

  @media (--viewportMobileMedium) {
    margin-top: 10px;
    width: 70%;
    font-size: 14px;
  }
}

.centeredText {
  text-align: center;
  word-wrap: break-word;
  margin-right: auto;
  margin-left: auto;
  color: #505050;
  @media (--viewportMobileMedium) {
    font-size: 12px;
    width: 60%;
    font-weight: 500;
  }
}

.carousel {
  display: flex;
  justify-content: space-between;
  max-width: calc(90%);
  margin: 0 auto;
}

.sectionWhite {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  color: #FFFFFF;
  background-color: #FFFFFF;

}

.menuIcon {
  stroke-width: 0px;
}

.ourservices {
  margin-top: 100px !important;
}

.subscribeStatus {
  /*width: 50%;*/
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  overflow-wrap: break-word;
}

.customFormDiv {
  width: 100%;
}

.subSectionGroup {
  background-image: url("../../assets/wavy-background/swoosh.png");
  background-size: contain;
  z-index: 8;
}

.firstSectionContainer {
  margin-top: 100px;
  background-color: #fffdf5;
}

.sectionContainer {
  padding-top: 100px;
  background-color: #fffdf5;
}

.sectionHeader {
  font-size: 40px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #e36253;

  @media (--viewportMobileLarge) {
    font-size: 28px;
  }
}

.sectionTable {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: auto;

  @media (--viewportMobileLarge) {
    width: 100%;
  }
}

.sectionRowHeader {
  font-size: 27px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.33;
  letter-spacing: normal;
  text-align: center;
  color: #666666;
}

.sectionRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  @media (--viewportMobileLarge) {
    flex-direction: column;
  }
}

.sectionHowBase {
  width: 425px;
  height: 181px;
  border-radius: 12px;
  background-color: #9c4cbc;

  @media (max-width: 1350px) {
    width: 350px;
  }

  @media (max-width: 1100px) {
    width: 275px
  }

  @media (max-width: 900px) {
    width: 200px;
  }

  @media (--viewportMobileLarge) {
    margin: 10px auto 0;
    padding: 20px 30px;
    width: 80vw;
  }
}

.sectionHowCell {
  display: flex;
  flex-direction: row;
  padding: 0 20px 0 20px;
}

.sectionHowCellNoText {
  padding: 36px 20px 39px 20px;
}

.sectionHowTextGroup {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.howTextHeader {
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.09;
  letter-spacing: normal;
  color: #ffffff;

  @media (max-width: 1100px) {
    font-size: 17px;
  }

  @media (max-width: 900px) {
    font-size: 12px;
  }

  @media (--viewportMobileLarge) {
    font-size: 20px;
  }
}

.noTextHeader {
  margin-top: 20px;
  text-align: center;
}

.howText {
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #ffffff;
  margin-top: 0;

  @media (max-width: 1100px) {
    font-size: 12px;
  }

  @media (max-width: 900px) {
    font-size: 10px;
  }

  @media (--viewportMobileLarge) {
    font-size: 15px;
  }
}

.sectionVettingCell {
  width: 319px;
  height: 217px;
  padding: 32px 16px 98px 11px;
  border-radius: 12px;
  background-color: #e8e8e8;

  @media (max-width: 1350px) {
    width: 250px;
  }

  @media (max-width: 1100px) {
    width: 200px;
  }

  @media (max-width: 900px) {
    width: 180px;
  }

  @media (--viewportMobileLarge) {
    margin: 10px auto 0;
    width: 80vw;
  }
}

.vettingTextHeader {
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.08;
  letter-spacing: normal;
  text-align: center;
  color: #666666;
  margin: 0 auto;

  @media (max-width: 1100px) {
    font-size: 18px;
  }

  @media (--viewportMobileLarge) {
    font-size: 24px;
  }
}

.vettingText {
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #666666;

  @media (max-width: 1350px) {
    font-size: 13px;
  }

  @media (max-width: 900px) {
    font-size: 11px;
  }

  @media (--viewportMobileLarge) {
    font-size: 15px;
  }
}

.vettingRatingsText {
  width: 900px;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin: 20px auto 0;

  @media (max-width: 900px) {
    width: unset;
  }
}

.checkMarkBackground {
  display: flex;
  width: 74px;
  height: 74px;
  border-radius: 40px;
  background-color:  #fffdf5;
  margin: 0 auto;

  @media (--viewportMobileLarge) {
    height: 50px;
    width: 50px;
  }

}

.checkMark {
  stroke-width: 3px;
  stroke: #9c4cbc;
  margin: auto;
}

.searchIcon {
  stroke:  #fffdf5;
  width: 142px;
  margin-right: 10px;
  transform: scaleX(-1);
}

.userIcon {
  fill: white;
}

.userIconRoot {
  width: 90px;
  margin-right: 10px;

  @media (--viewportMobileLarge) {
    margin-right: -10px;
    margin-left: -23px;
  }
}

.userIconRoot2 {
  width: 90px;
  margin-right: 20px;

  @media (--viewportMobileLarge) {
    margin-right: 10px;
    margin-left: 0;
  }
}

.manuscriptText {
  color: black;
  font-size: 16px;
  font-weight: normal;
  text-align: justify;
  width: 65vw;
  margin: 30px auto 52px;

  @media (--viewportMobileLarge) {
    font-size: 14px;
    width: 85vw;
    line-height: 18px;
  }
}
