
@import '../../marketplace.css';
.logoMobile {
  height:21px;
  width:99px;
  margin-top: 15px;

}


.logo {
  height: 37px;
  width: 173px;

  @media (--viewportMobileMedium) {
    height:21px;
    width:99px;

  }
}
