@import '../../marketplace.css';

.root {
  border-radius: 24px;
  border: inset 1px rgba(83, 83, 83, 0.22);
  height: fit-content;
  min-width: 27vw;
}

.flat {
  background-color: white;
  border-radius: 24px;
  border: solid 1px #e6e6e6;
  z-index: 1;
}

.floating {
  background-color: white;
  box-shadow: 0px 3px 6px #00000040;
  z-index: 2;
}

.header {
  @apply --marketplaceH2FontStyles;
  font-size: 26px;

  margin-top: 2vh !important;
  color: black;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}

