{:format :v3,
 :transitions [
  {:name :transition/enquire,
   :actor :actor.role/customer,
   :actions [],
   :to :state/enquiry}

  {:name :transition/hire-for-job
   :actor :actor.role/customer
   :actions [{:name :action/create-pending-booking, :config {:type :time}}
             {:name :action/privileged-set-line-items}
             {:name :action/stripe-create-payment-intent}
             {:name :action/stripe-confirm-payment-intent}]
   :to :state/preauthorized-hired-job-request
   :privileged? true}

  {:name :transition/new-booking-request
   :actor :actor.role/customer
   :actions
   [{:name :action/create-pending-booking, :config {:type :time}}
    {:name :action/update-protected-data}
    {:name :action/privileged-set-line-items}
    {:name :action/stripe-create-payment-intent}
    {:name :action/stripe-confirm-payment-intent}],
   :to :state/preauthorized-booking-request,
   :privileged? true}

  {:name :transition/new-booking-request-after-enquiry,
   :actor :actor.role/customer,
   :actions
   [{:name :action/create-pending-booking, :config {:type :time}}
    {:name :action/update-protected-data}
    {:name :action/privileged-set-line-items}
    {:name :action/stripe-create-payment-intent}
    {:name :action/stripe-confirm-payment-intent}],
   :from :state/enquiry,
   :to :state/preauthorized-booking-request,
   :privileged? true}

  {:name :transition/decline,
   :actor :actor.role/provider,
   :actions
   [{:name :action/decline-booking}
    {:name :action/calculate-full-refund}
    {:name :action/stripe-refund-payment}],
   :from :state/preauthorized-booking-request,
   :to :state/declined}

  {:name :transition/decline-hire-confirm,
   :actor :actor.role/provider,
   :actions
   [{:name :action/decline-booking}
    {:name :action/calculate-full-refund}
    {:name :action/stripe-refund-payment}],
   :from :state/preauthorized-hired-job-request,
   :to :state/declined}

  {:name :transition/expire,
   :at
   {:fn/min
    [{:fn/plus
      [{:fn/timepoint [:time/first-entered-state :state/preauthorized-booking-request]}
       {:fn/period ["P6D"]}]}
     {:fn/plus
      [{:fn/timepoint [:time/booking-end]} {:fn/period ["P1D"]}]}]},
   :actions
   [{:name :action/decline-booking}
    {:name :action/calculate-full-refund}
    {:name :action/stripe-refund-payment}],
   :from :state/preauthorized-booking-request,
   :to :state/declined}

  {:name :transition/expire-hire-confirm,
   :at
   {:fn/min
    [{:fn/plus
      [{:fn/timepoint [:time/first-entered-state :state/preauthorized-booking-request]}
       {:fn/period ["P6D"]}]}
     {:fn/plus
      [{:fn/timepoint [:time/booking-end]} {:fn/period ["P1D"]}]}]},
   :actions
   [{:name :action/decline-booking}
    {:name :action/calculate-full-refund}
    {:name :action/stripe-refund-payment}],
   :from :state/preauthorized-hired-job-request,
   :to :state/declined}

  {:name :transition/accept,
   :actor :actor.role/provider,
   :actions
   [{:name :action/accept-booking}],
   :from :state/preauthorized-booking-request,
   :to :state/accepted}

  {:name :transition/accept-hire-confirm,
   :actor :actor.role/provider,
   :actions
   [{:name :action/accept-booking}],
   :from :state/preauthorized-hired-job-request,
   :to :state/accepted}

  {:name :transition/cancel,
   :actor :actor.role/operator,
   :actions
   [{:name :action/cancel-booking}
    {:name :action/calculate-full-refund}
    {:name :action/stripe-refund-payment}],
   :from :state/accepted,
   :to :state/canceled}

  ;; Disable ability to cancel one day before the start of the booking
  {:name :transition/disable-cancel
   :at {:fn/minus [{:fn/timepoint [:time/booking-start]} {:fn/period ["P1D"]}]}
   :actions[]
   :from :state/accepted
   :to :state/accepted-no-cancel}

  {:name :transition/complete,
   :actor :actor.role/customer,
   :actions [{:name :action/stripe-capture-payment-intent}],
   :from :state/accepted-no-cancel,
   :to :state/completed-service}

  {:name :transition/review,
   :actor :actor.role/customer,
   :actions [{:name :action/post-review-by-customer}
             {:name :action/publish-reviews}],
   :from :state/completed-service,
   :to :state/reviewed}

  {:name :transition/expire-review-period,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/first-entered-state :state/completed-service]} {:fn/period ["P14D"]}]},
   :actions [],
   :from :state/completed-service,
   :to :state/not-reviewed}

  {:name :transition/refund-from-completed-service
   :actor :actor.role/operator
   :actions[{:name :action/stripe-refund-payment}]
   :from :state/completed-service
   :to :state/refunded}

  {:name :transition/refund-from-reviewed
   :actor :actor.role/operator
   :actions[{:name :action/stripe-refund-payment}]
   :from :state/reviewed
   :to :state/refunded}

  {:name :transition/refund-from-not-reviewed
   :actor :actor.role/operator
   :actions[{:name :action/stripe-refund-payment}]
   :from :state/not-reviewed
   :to :state/refunded}
 ],

; :notifications
; [{:name :notification/new-booking-request,
;   :on :transition/confirm-payment,
;   :to :actor.role/provider,
;   :template :new-booking-request}
;  {:name :notification/booking-request-accepted,
;   :on :transition/accept,
;   :to :actor.role/customer,
;   :template :booking-request-accepted}
;  {:name :notification/booking-request-declined,
;   :on :transition/decline,
;   :to :actor.role/customer,
;   :template :booking-request-declined}
;  {:name :notification/booking-request-auto-declined,
;   :on :transition/expire,
;   :to :actor.role/customer,
;   :template :booking-request-auto-declined}
;  {:name :notification/money-paid,
;   :on :transition/complete,
;   :to :actor.role/provider,
;   :template :money-paid}
;  {:name :notification/review-period-start-provider,
;   :on :transition/complete,
;   :to :actor.role/provider,
;   :template :review-by-provider-wanted}
;  {:name :notification/review-period-start-customer,
;   :on :transition/complete,
;   :to :actor.role/customer,
;   :template :review-by-customer-wanted}
;  {:name :notification/review-by-provider-first,
;   :on :transition/review-1-by-provider,
;   :to :actor.role/customer,
;   :template :review-by-other-party-unpublished}
;  {:name :notification/review-by-customer-first,
;   :on :transition/review-1-by-customer,
;   :to :actor.role/provider,
;   :template :review-by-other-party-unpublished}
;  {:name :notification/review-by-provider-second,
;   :on :transition/review-2-by-provider,
;   :to :actor.role/customer,
;   :template :review-by-other-party-published}
;  {:name :notification/review-by-customer-second,
;   :on :transition/review-2-by-customer,
;   :to :actor.role/provider,
;   :template :review-by-other-party-published}
; ]
}
