@import '../../marketplace.css';

.root {
  margin: auto;
  width: 100%;

  & :global(.CalendarMonth_caption) {
    @apply --marketplaceH3FontStyles;
    font-weight: var(--fontWeightMedium);
    text-align: left;
    padding-top: 18px;
    padding-bottom: 55px;

    margin-top: 0;
    margin-bottom: 0;

    & strong {
      font-weight: bold;
      font-size: 18px;
      letter-spacing: normal;
      color: var(--nuPink);
    }
  }

  & :global(.DayPicker) {
    margin: 0 auto;
    box-shadow: none;
  }

  & :global(.DayPicker__horizontal) {
    background-color: transparent;

  }

  & :global(.DayPicker_weekHeader) {
    top: 65px;
    color: #e36253;

    & small {
      @apply --marketplaceH5FontStyles;
    }
  }

  & :global(.DayPicker_weekHeader_li) {
    text-align: left;
  }

  & :global(.CalendarMonthGrid) {
    background-color: transparent;
  }

  & :global(.CalendarMonth) {
    background-color: transparent;
  }

  & :global(.CalendarMonth_table) {
    border: 1px solid var(--ManageAvailabilityCalendar_gridColor);
  }

  & :global(.CalendarDay__default) {
    border: 0;
  }

  & :global(.CalendarDay__selected) {
    color: var(--matterColor);
  }

  & :global(.DayPickerKeyboardShortcuts_show__bottomRight) {
    right: 19px;
    bottom: -24px;
  }

  & :global(.CalendarDay__highlighted_calendar) {
    background: var(--nuPink);
    color: var(--nuBackground);
    border-radius: 40px;
  }

  & :global(.CalendarMonthGrid, .CalendarMonthGrid_1, .CalendarMonthGrid__horizontal, .CalendarMonthGrid__horizontal_2) {
    width: 100%;
  }

  & :global(.DayPicker, .DayPicker_1, .DayPicker__horizontal, .DayPicker__horizontal_2) {
    width: 100% !important;
  }

  & :global(.DayPicker_transitionContainer, .DayPicker_transitionContainer_1, .DayPicker_transitionContainer__horizontal, .DayPicker_transitionContainer__horizontal_2) {
    width: 100% !important;
  }

  & :global(.CalendarMonthGrid_month__hidden, .CalendarMonthGrid_month__hidden_2) {
    display: none !important;
  }

  & :global(.CalendarMonthGrid, .CalendarMonthGrid_1, .CalendarMonthGrid__horizontal, .CalendarMonthGrid__horizontal_2) {
    width: 100% !important;
  }

  & :global(.CalendarMonthGrid_month__horizontal, .CalendarMonthGrid_month__horizontal_1) {
    width: 33% !important;
  }

  & :global(.DayPickerKeyboardShortcuts_buttonReset, .DayPickerKeyboardShortcuts_buttonReset_1, .DayPickerKeyboardShortcuts_show, .DayPickerKeyboardShortcuts_show_2, .DayPickerKeyboardShortcuts_show__bottomRight, .DayPickerKeyboardShortcuts_show__bottomRight_3 ){
    margin-right: 15px;
    display: none;
  }

  & :global(.DayPicker_weekHeaders, .DayPicker_weekHeaders_1, .DayPicker_weekHeaders__horizontal, .DayPicker_weekHeaders__horizontal_2) {
    width: 100% !important;
  }

  & :global(.DayPicker_weekHeader, .DayPicker_weekHeader_1:first-child) {
    width: 33% !important;
    left: 0 !important;
    /*position: static !important;*/
  }
  & :global(.DayPicker_weekHeader, .DayPicker_weekHeader_1:nth-child(even) ){
    width: 33% !important;
    left: 355px !important;
    /*position: static !important;*/
  }
  & :global(.DayPicker_weekHeader, .DayPicker_weekHeader_1:last-child) {
    width: 33% !important;
    left: 710px !important;
    /*position: static !important;*/
  }

  & :global(.DayPicker_weekHeaders, .DayPicker_weekHeaders_1, .DayPicker_weekHeaders__horizontal, .DayPicker_weekHeaders__horizontal_2.div) {
    width: 100% !important;
  }

  & :global(#datepicker-container.div.div.div ){
    width: 100% !important;
  }
}

.calendarContent {
  display: flex;
  justify-content: space-evenly;
}

.removeNav {
  display: none;
}

.selectSection {
 width: 45%;
}
