@import '../../marketplace.css';

.content {
  @media (--viewportMedium) {
    margin: 32px auto 0 auto;
    max-width: 564px;
  }

  @media (--viewportLarge) {
    margin: 0;
  }
}

.pageTitle {
  text-align: Left;
  color: var(--nuPink);

  @media (--viewportMobileLarge) {
    text-align: center;
  }
}

.listSection {

}

.service {
  border-radius: 10px;
  background-color: white;
  box-shadow: 7px 7px 6px #00000029;
  margin-bottom: 2vh;
  display: inline-flex;

  width: 550px;
  height: fit-content;

  @media (max-width: 768px) {
    width: 100%;
    font-size: 12px;

  }

}

.serviceFormSection {

}

.links {
  text-decoration: underline;

  &:hover {
    color: #00a699;
  }
}

.serviceTimes {
  padding-right: 20px;
  font-size: 14px;
  line-height: 32px;

  @media (--viewportMobileMedium) {

    font-size: 12px;
    line-height: 32px;
  }
  @media (max-width: 768px) {
    padding-right: 5px;
    font-size: 12px;

  }
}

.icon {
  height: 50px;
  fill: var(--nuPink);
  margin-right: 5px;
}


.serviceIcon {
  padding-right: 20px;
  color: var(--nuPink);

  @media (max-width: 768px) {
    padding-right: 5px;
    font-size: 12px;

  }
}

.serviceName {
  padding-right: 20px;
  width: 35%;
  color: var(--nuPink);

  @media (max-width: 768px) {
    padding-right: 5px;
    font-size: 12px;
    width: 25%;

  }
}

.price {
  margin-left: auto;
  margin-right: 15px;
  @media (max-width: 768px) {
    font-size: 12px;

  }
}

.errorText {
  color: red;
  font-weight: bold;
  text-align: center;
}
